*{
    margin: 0;   padding: 0;   outline: 0;   box-sizing: border-box;
}
ul,ol{
    list-style-type: none;
}
a,a:hover{
    text-decoration: none;
}

.testimonial-section {
    padding: 80px 0;
    background-color: #696969;
  }
  
  .testimonial-slider {
    position: relative;
    margin: 0 auto;
    width: 80%;
  }
  
  .testimonial-item {
    margin-top: 10px;
    text-align: center;
    padding: 25px;
    background-color: #FFFFF0;
    border-radius: 10px;
    margin-bottom: 10px;

  }
  
  .testimonial-item p {
    font-size: 18px;
    line-height: 1.6;
    margin-top: 5px;
    color: #080808;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: italic;
  }

  .testimonial-item h4,span{
    color: #080808;
    font-family: 'Roboto', sans-serif;
    font-size: 19px;
    font-weight: 900;
    font-style: italic;
  }
.client-info img{
    height: 100px;
    width: 120px;
    border: 6px solid #8B4513;
    border-radius: 25px;
    margin-bottom: 20px;
    margin-left: 43%;
}
.section-title h2{
  color: #040303;
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  font-weight: 800;
  font-style: italic;
 }

  .slick-prev,
.slick-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 30px;
  color: #fff;
  z-index: 1;
  cursor: pointer;
}

.slick-prev {
  left: 10px;
}

.slick-next {
  right: 10px;
}

